<%= @user.settings['name'] %> --- We are pleased to inform you that your account has been successfully activated by <%= app_name %>. You can now access all the features and benefits of our software.

If you have any queries or need assistance, please do not hesitate to <a href="<%= JsonApi::Json.current_host %>/contact">contact us</a>!
<br/><br/><br/>

Thanks!<br/>
<%= email_signature %>