<%= @user.settings['name'] %> -- We regret to inform you that your account has been deactivated by <%= app_name %>. We kindly request you to contact our support team for further details and assistance in resolving this issue.


Please reach out to our <a href="<%= JsonApi::Json.current_host %>/contact">support team</a> to discuss the matter further and reactivate your account.

We apologize for any inconvenience this may have caused and appreciate your understanding.<br/><br/><br/>

Thanks!<br/>
<%= email_signature %>